@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
header,
main,
footer {
  font-family: "Nanum Gothic", sans-serif !important;
}
ul,
li,
ol {
  list-style: none;
}
/* 대표 btn - 그라데이션 버튼 */
.btn_1 {
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 48px;
  background: linear-gradient(
    101.83deg,
    rgb(127, 135, 224) -13.2%,
    rgb(38, 73, 202) -13.19%,
    rgb(106, 118, 223) 46.63%,
    rgb(50, 176, 247) 107.09%
  );
  box-shadow: rgba(63, 152, 239, 0.2) 0px 12px 24px;
}
.btn_1:hover {
  border: 1px solid rgb(38, 73, 202);
  color: rgb(38, 73, 202);
  background: none;
}

.btn_2 {
  width: 100%;
  color: #f65365;
  border: 1px solid #f65365;
  display: inline-block;
  padding: 11px 23px;
  text-transform: capitalize;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: transparent;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn_2:hover {
  background-color: #f65365;
  border: 1px solid #f65365;
  color: #fff;
}

.btn-round {
  width: 40px;
  height: 40px;
}
/* 배지 */
.bedge {
  margin-left: 5px;
  background-color: #f1f6f7;
  color: #3b85c7;
  border-radius: 5px;
  padding: 1px 4px;
  font-size: 0.5rem;
  font-weight: 600;
}
.up-date {
  background-color: #f9e6ec;
  color: #ff548a;
}
.bedge-vi {
  background-color: #f6f5ff;
  color: #a37cf9;
}
/* toggle switch */
.toggle,
.toggle:before,
.slot__label,
.curtain {
  transition-property: background-color, transform, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in, cubic-bezier(0.6, 0.2, 0.4, 1.5), linear;
}
.toggle:before,
.slot,
.slot__label {
  display: block;
}
.toggle:before,
.curtain {
  position: absolute;
}
.toggle:checked,
.curtain {
  background-color: #415bd2;
}
.toggle:focus {
  outline: transparent;
}
.toggle {
  border-radius: 0.75em;
  box-shadow: 0 0 0 0.1em #fff inset;
  cursor: pointer;
  position: relative;
  margin-right: 0.25em;
  width: 3em;
  height: 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.toggle:before {
  background: #fff;
  border-radius: 50%;
  content: "";
  top: 0.2em;
  left: 0.2em;
  width: 1.1em;
  height: 1.1em;
}
.toggle:checked:before {
  transform: translateX(1.5em);
}
.toggle:checked ~ .slot .slot__label,
.slot__label:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}
.toggle:checked ~ .slot .slot__label:nth-child(2) {
  transform: translateY(-100%) scaleY(1);
}
.toggle:checked ~ .curtain {
  transform: scaleX(1);
}
.slot {
  height: 1.5em;
  color: #fff;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  overflow: hidden;
}
.slot__label {
  transform-origin: 50% 0;
}
.slot__label:nth-child(2) {
  transform-origin: 50% 100%;
}
/* 매장정보 - 수정 btn */
a.fa-pen,
a.fa-check {
  color: #2649ca !important;
  font-size: 0.8rem;
  margin-left: 5px;
  transform: translateY(-1px);
}
a.fa-check {
  color: #ff0000 !important;
}
/* 매장관리 */
/* .tab-box {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  margin-bottom: 15px;
  text-align: center;
  color: #000;
  font-size: 0.8rem;
  font-weight: 500;
}
.tab-box ul {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.tab-box ul li {
  margin: 10px 20px;
}
.tab-box ul li img {
  width: 50px;
} */
section article {
  border-radius: 10px;
}
/* 메인화면 - 리스트 border-left 색상표시 구분 */
.au-card {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  height: 100px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 20px;
}
.red-line {
  border-left: 3px solid #fa4251;
}
.blue-line {
  border-left: 3px solid #4272d7;
}
.green-line {
  border-left: 3px solid #e5ecff;
}
.au-task__item-inner {
  padding: 26px 15px;
  padding-left: 40px;
}

.au-task__item-inner .task {
  font-size: 16px;
  margin-bottom: 6px;
}

.au-task__item-inner .task a {
  font-size: 16px;
  color: gray;
  font-weight: 400;
}

.au-task__item-inner .task a:hover {
  color: #333;
}

.au-task__item-inner .time {
  font-size: 14px;
  color: #555;
  text-transform: uppercase;
  font-weight: 600;
}

.au-task__item--danger .au-task__item-inner {
  border-left: 3px solid #fa4251;
}
/* 리뷰관리 */
.review-all,
.review-box {
  padding: 20px;
}
.review-all > p {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}
.review-all > span,
.today-review > p {
  color: #fff;
  font-size: 0.8rem;
  margin-right: 10px;
}
.star-box {
  font-size: 1.5rem;
  color: #fdd002;
}
.review-box h3 {
  font-size: 1rem;
  color: #2649ca;
  margin-bottom: 10px;
}

.review-box .carousel-inner {
  background-color: #f0f0f0;
  border-radius: 10px;
}
.review-box .carousel-item {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  padding: 20px;
  background-color: #f0f0f0;
}
.review-box .carousel-item span {
  padding: 2px 4px;
  border: 1px solid #d65858;
  border-radius: 5px;
  color: #d65858;
  font-size: 0.4rem;
  font-weight: 500;
}
.review-box .carousel-item .point {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}
.review-box .carousel-item p:last-of-type {
  font-size: 0.8rem;
  color: #9e9e9e;
}

/* 대시보드 주문현황 통계정리 */
.order-info {
  display: flex;
  width: 100%;
}
.order-info li {
  width: 40%;
  text-align: center;
  transform: translateY(14px);
}
.order-info li:not(:last-child) {
  border-right: 1px solid #eeeeee;
}
